process {

    withName: 'CONVERT_TO_BIOBOXES' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/benchmarking/${meta.id}/" },
            pattern: "*.bioboxes.profile"
        ]
    }

    withName: 'BENCHMARK_OPAL' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/benchmarking/${meta.id}/" },
            pattern: "opal_results/"
        ]
    }

    withName: 'EXTRACT_METRICS' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/benchmarking/${meta.id}/" },
                pattern: "metrics.json"
            ],
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/${workflow.runName}/" },
                pattern: "metrics.json"
            ]
        ]
    }
}
